##   数据的加载和存储

In [43]:
# read_csv 默认逗号为分隔符
import pandas as pd
import numpy as np
names = ['用户id','账单时间戳','银行id','上期账单金额','上期还款金额','信用卡额度','本期账单余额','本期账单最低还款额','消费笔数','本期账单金额','调整金额','循环利息','可用金额','预借现金额度','还款状态']
# 读取所有文件内容
bill_train_data = pd.read_csv('../pcredit/train/bill_detail_train.txt',names=names,header=None,sep=',')

# 对账单时间戳进行时间变换
import time
def tChange(t):
    return time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(float(t)))

bill_train_data['账单时间戳'] = bill_train_data['账单时间戳'].map(lambda x:tChange(x))
bill_train_data.to_csv('../pcredit/train1/bill_train.csv',index=False) # 不报错行号,写入文件

pd.read_csv('../pcredit/train1/bill_train.csv',nrows=5,header=0,sep=',')

,用户id,账单时间戳,银行id,上期账单金额,上期还款金额,信用卡额度,本期账单余额,本期账单最低还款额,消费笔数,本期账单金额,调整金额,循环利息,可用金额,预借现金额度,还款状态
0,3150,2157-03-06 10:19:23,6,18.626118,18.661937,20.664418,18.905766,17.847133,1,0.0,0.0,0.0,0.0,19.971271,0
1,3150,2157-03-06 10:20:01,6,18.905766,18.909954,20.664418,19.113305,17.911506,1,0.0,0.0,0.0,0.0,19.971271,0
2,3150,2157-03-06 10:20:27,6,19.113305,19.150290,20.664418,19.300194,17.977610,1,0.0,0.0,0.0,0.0,19.971271,0
3,3150,2157-03-06 10:21:55,6,19.300194,19.300280,21.000890,20.303240,18.477177,1,0.0,0.0,0.0,0.0,20.307743,0
4,3150,2157-03-06 10:22:42,6,20.303240,20.307744,21.000890,20.357134,18.510985,1,0.0,0.0,0.0,0.0,20.307743,0

In [ ]:
# 有些表格不是固定分隔符,可以用正则表达式,作为 read_table 的分隔符
# result = pd.read_talbe('exe.txt',sep='\s+')
# 用 skiprows 跳过文件的第一行,第三行和第四行
# pd.read_csv('ex.txt',skiprows=[0,2,3])
# 用 na_values 表示缺失值的字符串
# pd.read_csv('ex5.csv',na_values=['NULL'])
# 也可以用字典为各列指定不同的 NA 标志
# sentinel = {'message':['foo','NA'],'something':['two']}
# pd.read_csv('ex5.csv',na_values=sentinel)

##  逐块读取文件内容

In [41]:
# 读取几行数据,通过 nrows 指定
line5 = pd.read_csv('../pcredit/train/bill_detail_train.txt',nrows=5,names=names,header=None,sep=',')
line5

,用户id,账单时间戳,银行id,上期账单金额,上期还款金额,信用卡额度,本期账单余额,本期账单最低还款额,消费笔数,本期账单金额,调整金额,循环利息,可用金额,预借现金额度,还款状态
0,3150,5906744363,6,18.626118,18.661937,20.664418,18.905766,17.847133,1,0.0,0.0,0.0,0.0,19.971271,0
1,3150,5906744401,6,18.905766,18.909954,20.664418,19.113305,17.911506,1,0.0,0.0,0.0,0.0,19.971271,0
2,3150,5906744427,6,19.113305,19.150290,20.664418,19.300194,17.977610,1,0.0,0.0,0.0,0.0,19.971271,0
3,3150,5906744515,6,19.300194,19.300280,21.000890,20.303240,18.477177,1,0.0,0.0,0.0,0.0,20.307743,0
4,3150,5906744562,6,20.303240,20.307744,21.000890,20.357134,18.510985,1,0.0,0.0,0.0,0.0,20.307743,0

In [42]:
# 对账单时间戳进行时间变换
import time
def timeChange(t):
    return time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(float(t)))

line5['账单时间戳'] = line5['账单时间戳'].map(lambda x:timeChange(x))
line5
line5.to_csv('../pcredit/train1/bill_train5.csv',index=False) # 不报错行号,写入文件

In [10]:
# 逐块读取文件,需要设置 chunksize (行数)
# 返回一个 TextParser 对象,可以根据 chunksize 对文件进行逐块迭代
chunker = pd.read_csv('../pcredit/train/bill_detail_train.txt',chunksize=100,names=names,header=None,sep=',')

In [12]:
from pandas import Series,DataFrame
tot = Series([])
for piece in chunker:
    tot = tot.add(piece['用户id'].value_counts(),fill_value=0)
tot = tot.order(ascending=False)

/home/hadoop/.local/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: order is deprecated, use sort_values(...)

##  将数据写入文本

In [ ]:
# 利用 DataFrame 的 to_csv 方法,可以将数据以逗号分割写入文件中
# data.to_csv('out.csv')
# 打印输出
# data.to_csv(sys.stdout,sep='|',na_rep='NULL') 缺失值重新标记
#  默认会输出行和列的标签,可以禁用
# data.to_csv(sys.stdout,index=False,header=False)
# 还可以只列出一部分列,以指定的顺序
# data.to_csv(sys.stdout,index=False,cols=['a','b','c'])

##  数据规整化:清理、转换、合并、重塑

In [14]:
# 合并,通过一个或多个键链接起来
df1 = DataFrame({'key':['b','b','a','c','a','a','b'],
                'data1':range(7)})
df2 = DataFrame({'key':['a','b','d'],
                'data2':range(3)})

In [17]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [18]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [20]:
pd.merge(df1,df2,on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

##  数据转换

In [21]:
data = DataFrame({'k1':['one']*3+['two']*4,
                 'k2':[1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [22]:
data.drop_duplicates()

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

**利用函数进行数据转换**

使用 map 对每列的元素进行处理

In [23]:
data = DataFrame({'food':['bacon','pulled pork','bacon','Pastrami',
                          'corneed beef','Bacon','pastrami','honey ham',
                         'noval lox'],
                 'ounces':[4,3,12,6,7.5,8,3,5,6]})
data

           food  ounces
0         bacon     4.0
1   pulled pork     3.0
2         bacon    12.0
3      Pastrami     6.0
4  corneed beef     7.5
5         Bacon     8.0
6      pastrami     3.0
7     honey ham     5.0
8     noval lox     6.0

In [29]:
meat_to_animal={
    'bacon':'pig',
    'pulled pork':'pig',
    'pastrami':'cow',
    'honey ham':'pig',
    'noval lox':'salmon'
}
data['animal']=data['food'].map(str.lower).map(meat_to_animal)
data

           food  ounces  animal
0         bacon     4.0     pig
1   pulled pork     3.0     pig
2         bacon    12.0     pig
3      Pastrami     6.0     cow
4  corneed beef     7.5     NaN
5         Bacon     8.0     pig
6      pastrami     3.0     cow
7     honey ham     5.0     pig
8     noval lox     6.0  salmon

In [31]:
data['ounces']=data['ounces'].map(lambda x:x+1)
data

           food  ounces  animal
0         bacon     5.0     pig
1   pulled pork     4.0     pig
2         bacon    13.0     pig
3      Pastrami     7.0     cow
4  corneed beef     8.5     NaN
5         Bacon     9.0     pig
6      pastrami     4.0     cow
7     honey ham     6.0     pig
8     noval lox     7.0  salmon