##  数据分析

In [2]:
import numpy as np
import pandas as pd

In [4]:
train_data = pd.read_csv('data/train.csv',sep=',',nrows=5)
train_data

,id,query,product_title,product_description,median_relevance,relevance_variance
0,1,bridal shower decorations,Accent Pillow with Heart Design - Red/Black,Red satin accent pillow embroidered with a hea...,1,0.000
1,2,led christmas lights,Set of 10 Battery Operated Multi LED Train Chr...,Set of 10 Battery Operated Train Christmas Lig...,4,0.000
2,4,projector,ViewSonic Pro8200 DLP Multimedia Projector,NaN,4,0.471
3,5,wine rack,Concept Housewares WR-44526 Solid-Wood Ceiling...,"Like a silent and sturdy tree, the Southern En...",4,0.000
4,7,light bulb,Wintergreen Lighting Christmas LED Light Bulb ...,"WTGR1011\nFeatures\nNickel base, 60,000 averag...",2,0.471

In [7]:
train_data_all = pd.read_csv('data/train.csv')
train_data_all.describe()

                 id  median_relevance  relevance_variance
count  10158.000000      10158.000000        10158.000000
mean   16353.103071          3.309805            0.377863
std     9447.106683          0.980666            0.389707
min        1.000000          1.000000            0.000000
25%     8078.750000          3.000000            0.000000
50%    16349.500000          4.000000            0.471000
75%    24570.750000          4.000000            0.471000
max    32668.000000          4.000000            1.470000

In [11]:
train_data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10158 entries, 0 to 10157
Data columns (total 6 columns):
id                     10158 non-null int64
query                  10158 non-null object
product_title          10158 non-null object
product_description    7714 non-null object
median_relevance       10158 non-null int64
relevance_variance     10158 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 476.2+ KB

In [5]:
test_data = pd.read_csv('data/test.csv',nrows=5)
test_data

,id,query,product_title,product_description
0,3,electric griddle,Star-Max 48 in Electric Griddle,NaN
1,6,phillips coffee maker,Philips SENSEO HD7810 WHITE Single Serve Pod C...,NaN
2,9,san francisco 49ers,2013 San Francisco 49ers Clock,A 2013 San Francisco 49ers clock is the ultima...
3,11,aveeno shampoo,AVEENO 10.5FLOZ NRSH SHINE SH,"Water, Ammonium Lauryl Sulfate, Dimethicone, S..."
4,12,flea and tick control for dogs,Merial Frontline Plus Flea and Tick Control fo...,NaN

In [8]:
test_data_all = pd.read_csv('data/test.csv')
test_data_all.describe()

                 id
count  22513.000000
mean   16328.282992
std     9424.576451
min        3.000000
25%     8201.000000
50%    16329.000000
75%    24464.000000
max    32671.000000

In [10]:
test_data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22513 entries, 0 to 22512
Data columns (total 4 columns):
id                     22513 non-null int64
query                  22513 non-null object
product_title          22513 non-null object
product_description    17086 non-null object
dtypes: int64(1), object(3)
memory usage: 703.6+ KB

In [6]:
samp_data = pd.read_csv('data/sampleSubmission.csv',nrows=5)
samp_data

   id  prediction
0   3           3
1   6           3
2   9           3
3  11           3
4  12           3

In [9]:
samp_data_all = pd.read_csv('data/sampleSubmission.csv')
samp_data_all.describe()

                 id  prediction
count  22513.000000     22513.0
mean   16328.282992         3.0
std     9424.576451         0.0
min        3.000000         3.0
25%     8201.000000         3.0
50%    16329.000000         3.0
75%    24464.000000         3.0
max    32671.000000         3.0