贷款风险预测

首先分析数据情况

In [2]:
import numpy as np
import pandas as pd

In [6]:
bank_train_data = pd.read_csv('../pcredit/train/bank_detail_train.txt',header=None)
bank_train_data.describe()

                  0             1             2             3             4
count  6.070197e+06  6.070197e+06  6.070197e+06  6.070197e+06  6.070197e+06
mean   1.532010e+04  5.873806e+09  7.171420e-01  1.196549e+01  6.090412e-03
std    1.428022e+04  4.710474e+08  4.503881e-01  2.564622e+00  7.780308e-02
min    1.000000e+00  0.000000e+00  0.000000e+00  2.344542e+00  0.000000e+00
25%    4.039000e+03  5.904307e+09  0.000000e+00  1.058660e+01  0.000000e+00
50%    1.077100e+04  5.912609e+09  1.000000e+00  1.214723e+01  0.000000e+00
75%    2.187600e+04  5.919588e+09  1.000000e+00  1.375666e+01  0.000000e+00
max    5.558700e+04  5.928983e+09  1.000000e+00  2.336958e+01  1.000000e+00

In [7]:
bank_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6070197 entries, 0 to 6070196
Data columns (total 5 columns):
0    int64
1    int64
2    int64
3    float64
4    int64
dtypes: float64(1), int64(4)
memory usage: 231.6 MB

In [11]:
#  判断缺失值的个数
bank_train_data.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

##  处理 bill_detail_train 文件

In [14]:
bill_train_data = pd.read_csv('../pcredit/train/bill_detail_train.txt',header=None,iterator=True) # 通过迭代器访问
bill_train_data.get_chunk(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,3150,5906744363,6,18.626118,18.661937,20.664418,18.905766,17.847133,1,0.0,0.0,0.0,0.0,19.971271,0
1,3150,5906744401,6,18.905766,18.909954,20.664418,19.113305,17.911506,1,0.0,0.0,0.0,0.0,19.971271,0
2,3150,5906744427,6,19.113305,19.150290,20.664418,19.300194,17.977610,1,0.0,0.0,0.0,0.0,19.971271,0
3,3150,5906744515,6,19.300194,19.300280,21.000890,20.303240,18.477177,1,0.0,0.0,0.0,0.0,20.307743,0
4,3150,5906744562,6,20.303240,20.307744,21.000890,20.357134,18.510985,1,0.0,0.0,0.0,0.0,20.307743,0

In [16]:
#  判断缺失值
bill_train_data = pd.read_csv('../pcredit/train/bill_detail_train.txt',header=None) # 通过迭代器访问
bill_train_data.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

##  user_info_train

In [18]:
user_train_data = pd.read_csv('../pcredit/train/user_info_train.txt',header=None)
user_train_data.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

##  browser_histrory

In [19]:
browser_train_data = pd.read_csv('../pcredit/train/browse_history_train.txt',header=None)
browser_train_data.isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64

##  loan_time

In [20]:
loan_train_data = pd.read_csv('../pcredit/train/loan_time_train.txt',header=None)
loan_train_data.isnull().sum()

0    0
1    0
dtype: int64

##  overdue_train

In [24]:
overdue_train_data = pd.read_csv('../pcredit/train/overdue_train.txt',header=None)
overdue_train_data.isnull().sum()

0    0
1    0
dtype: int64