In [2]:
from sklearn.datasets import load_iris, load_digits, load_boston
digits = load_digits(2)
y = digits['target']
X = digits['data']
print X

[[  0.   0.   5. ...,   0.   0.   0.]
 [  0.   0.   0. ...,  10.   0.   0.]
 [  0.   0.   1. ...,   3.   0.   0.]
 ...,
 [  0.   0.   5. ...,   8.   1.   0.]
 [  0.   0.   6. ...,   4.   0.   0.]
 [  0.   0.   6. ...,   6.   0.   0.]]

In [3]:
print y

[0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0
 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1
 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0
 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0
 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0 1 0 1
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0
 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1
 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0
 1 1 0 0 0 1 1 1 1 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 1 1 1 1 1 0 1
 0 0 1 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 1 1 1 0 1 0]

In [4]:
import numpy as np
import pandas as pd

In [6]:
X = np.array(X)
y = np.array(y)
print type(X)

<type 'numpy.ndarray'>

In [7]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier().fit(X,y)

In [22]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report


loan_data = pd.read_csv("../data/train_data.csv")

loan_data.index = loan_data['userid']
loan_data.drop('userid',
            axis = 1,
            inplace = True)

# overdue_train，这是我们模型所要拟合的目标
target = pd.read_csv('../../pcredit/train/overdue_train.txt',
                         header = None)
target.columns = ['userid', 'label']
target.index = target['userid']
target.drop('userid',
            axis = 1,
            inplace = True)
# 构建模型
# 分开训练集、测试集
train = loan_data.iloc[0: 55596, :]
test = loan_data.iloc[55596:, :]

In [23]:
train.head()

,account#0,account#1,account#2,account#3,account#4,edu#0,edu#1,edu#2,edu#3,edu#4,...,prepare_amount#10,prepare_amount#11,prepare_amount#12,prepare_amount#13,prepare_amount#14,prepare_amount#15,prepare_amount#16,prepare_amount#17,prepare_amount#18,prepare_amount#19
userid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,1,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0,1,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
print train.info()
print train.values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55596 entries, 1 to 55596
Columns: 185 entries, account#0 to prepare_amount#19
dtypes: float64(161), int64(24)
memory usage: 78.9 MB
None
[[ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  1.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  1. ...,  0.  0.  1.]]

In [25]:
print target.info()
print target.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55596 entries, 1 to 55596
Data columns (total 1 columns):
label    55596 non-null int64
dtypes: int64(1)
memory usage: 868.7 KB
None
        label
userid
1           0
2           0
3           0
4           1
5           0

In [26]:
test.head()

,account#0,account#1,account#2,account#3,account#4,edu#0,edu#1,edu#2,edu#3,edu#4,...,prepare_amount#10,prepare_amount#11,prepare_amount#12,prepare_amount#13,prepare_amount#14,prepare_amount#15,prepare_amount#16,prepare_amount#17,prepare_amount#18,prepare_amount#19
userid,,,,,,,,,,,,,,,,,,,,,
55597,0,0,0,0,1,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55598,0,0,0,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55599,0,1,0,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55600,0,1,0,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
55601,0,0,0,0,1,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
#  转换数据
dtrain = xgb.DMatrix(train.values,label=target.values)
dtest = xgb.DMatrix(test.values)

In [30]:
#  参数设置
param = {'bst:max_depth':2, 'bst:eta':1, 'silent':1, 'objective':'binary:logistic' }
param['nthread'] = 4
num_round = 4
bst = xgb.train(param, dtrain, num_round)
# make prediction
preds = bst.predict(dtest)
print preds

[ 0.22518528  0.20315732  0.20166978 ...,  0.22824587  0.20166978
  0.20315732]

In [31]:
from WriteDatas import writeDatas
writeDatas(preds,test,'Xg')

        probability
userid
55597      0.225185
55598      0.203157
55599      0.201670
55600      0.201670
55601      0.233783

In [33]:
from sklearn.cross_validation import train_test_split
train_X, test_X, train_y, test_y = train_test_split(train,
                                                        target,
                                                        test_size=0.2,
                                                        random_state=0)

In [37]:
train_X = xgb.DMatrix(train_X.values,label=train_y.values)
test_X = xgb.DMatrix(test_X.values)
#  参数设置
param = {'bst:max_depth':2, 'bst:eta':1, 'silent':1, 'objective':'binary:logistic' }
param['nthread'] = 4
num_round = 4
bst = xgb.train(param, train_X, num_round)
# make prediction
pred = bst.predict(test_X)
print pred

[ 0.17119768  0.25431761  0.29425547 ...,  0.22988126  0.22988126
  0.22988126]

In [38]:
from pandas import DataFrame
pred = DataFrame(pred)
pred.head()

          0
0  0.171198
1  0.254318
2  0.294255
3  0.229881
4  0.229881

In [45]:
test_y[test_y.label==1].head()

        label
userid
6756        1
33896       1
41038       1
44919       1
48353       1

In [47]:
yy = np.concatenate([test_y,pred],axis=1)
yy = DataFrame(yy)
yy.head()

     0         1
0  0.0  0.171198
1  0.0  0.254318
2  0.0  0.294255
3  0.0  0.229881
4  0.0  0.229881

In [55]:
y_sorted = yy.sort_index(by=[1])
y_sorted.head()

/home/hadoop/.local/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

        0         1
9269  0.0  0.162787
824   0.0  0.162787
3253  0.0  0.162787
828   0.0  0.162787
9602  0.0  0.162787

In [57]:
y_sorted[y_sorted[0]==0].shape

(9703, 2)

In [58]:
y_sorted[y_sorted[0]==1].shape

(1417, 2)

In [61]:
ans = 0.0
minn = y_sorted[y_sorted[0]==0].shape[0]
maxn = y_sorted[y_sorted[0]==1].shape[0]
n = y_sorted.shape[0]
print minn/(1.0*n)

0.872571942446

In [62]:
y0n = test_y[test_y.label==0].shape[0]
print y0n

9703