在  bill_detail_2 基础上添加数据
银行卡数目，每张银行卡记录最大数，先删除缺失值（0.0），再做平均值

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

import matplotlib.pyplot as plt

In [2]:
names = ["userid","time","bank_id","pre_amount_of_bill","pre_repayment","credit_amount",\
         "amount_of_bill_left","least_repayment","consume_amount","amount_of_bill","adjust_amount",\
         "circ_interest","avail_amount","prepare_amount","repayment_state"]

bill_train = pd.read_csv("../../pcredit/train/bill_detail_train.txt",header=None)
bill_test = pd.read_csv("../../pcredit/test/bill_detail_test.txt",header=None)

bill_data = pd.concat([bill_train,bill_test])
bill_data.columns=names
bill_data.head()

,userid,time,bank_id,pre_amount_of_bill,pre_repayment,credit_amount,amount_of_bill_left,least_repayment,consume_amount,amount_of_bill,adjust_amount,circ_interest,avail_amount,prepare_amount,repayment_state
0,3150,5906744363,6,18.626118,18.661937,20.664418,18.905766,17.847133,1,0.0,0.0,0.0,0.0,19.971271,0
1,3150,5906744401,6,18.905766,18.909954,20.664418,19.113305,17.911506,1,0.0,0.0,0.0,0.0,19.971271,0
2,3150,5906744427,6,19.113305,19.150290,20.664418,19.300194,17.977610,1,0.0,0.0,0.0,0.0,19.971271,0
3,3150,5906744515,6,19.300194,19.300280,21.000890,20.303240,18.477177,1,0.0,0.0,0.0,0.0,20.307743,0
4,3150,5906744562,6,20.303240,20.307744,21.000890,20.357134,18.510985,1,0.0,0.0,0.0,0.0,20.307743,0

In [37]:
bill_data[(bill_data['userid']==2695)&(bill_data['bank_id']==6)&(bill_data['time']!=0)]

,userid,time,bank_id,pre_amount_of_bill,pre_repayment,credit_amount,amount_of_bill_left,least_repayment,consume_amount,amount_of_bill,adjust_amount,circ_interest,avail_amount,prepare_amount,repayment_state
423111,2695,5896754895,6,20.575036,20.581036,21.406355,20.761757,18.764327,6,0.0,0.0,0.0,0.0,20.713208,0
423112,2695,5896754895,6,20.818234,20.825686,20.846739,20.628577,18.656098,4,0.0,0.0,0.0,0.0,20.153592,0
423113,2695,5896754895,6,20.575036,20.581036,21.406355,20.761757,18.764327,6,0.0,0.0,0.0,0.0,20.713208,0
423114,2695,5896754895,6,20.575036,20.581036,21.406355,20.761757,18.764327,6,0.0,0.0,0.0,0.0,20.713208,0
423115,2695,5896754895,6,20.575036,20.581036,21.406355,20.761757,18.764327,6,0.0,0.0,0.0,0.0,20.713208,0
423116,2695,5896754895,6,20.818234,20.825686,20.846739,20.628577,18.656098,4,0.0,0.0,0.0,0.0,20.153592,0
423117,2695,5896754895,6,20.818234,20.825686,20.846739,20.628577,18.656098,4,0.0,0.0,0.0,0.0,20.153592,0
423118,2695,5896754895,6,20.575036,20.581036,21.406355,20.761757,18.764327,6,0.0,0.0,0.0,0.0,20.713208,0
423119,2695,5896754895,6,20.818234,20.825686,20.846739,20.628577,18.656098,4,0.0,0.0,0.0,0.0,20.153592,0
423120,2695,5896754895,6,20.818234,20.825686,20.846739,20.628577,18.656098,4,0.0,0.0,0.0,0.0,20.153592,0
423121,2695,5896754896,6,20.761757,20.768778,20.846739,20.818234,18.796708,4,0.0,0.0,0.0,0.0,20.153592,0
423122,2695,5896754896,6,20.761757,20.768778,20.846739,20.818234,18.796708,4,0.0,0.0,0.0,0.0,20.153592,0
423123,2695,5896754896,6,20.761757,20.768778,20.846739,20.818234,18.796708,4,0.0,0.0,0.0,0.0,20.153592,0
423124,2695,5896754896,6,20.761757,20.768778,20.846739,20.818234,18.796708,4,0.0,0.0,0.0,0.0,20.153592,0
423125,2695,5896754896,6,20.761757,20.768778,20.846739,20.818234,18.796708,4,0.0,0.0,0.0,0.0,20.153592,0
423126,2695,5898667087,6,20.775480,20.777746,20.759728,20.758342,18.455851,1,0.0,0.0,0.0,0.0,20.066581,0
423127,2695,5898667087,6,20.775480,20.777746,20.759728,20.758342,18.455851,1,0.0,0.0,0.0,0.0,20.066581,0
423128,2695,5898667087,6,20.775480,20.777746,20.759728,20.758342,18.455851,1,0.0,0.0,0.0,0.0,20.066581,0
423129,2695,5898667087,6,20.775480,20.777746,20.759728,20.758342,18.455851,1,0.0,0.0,0.0,0.0,20.066581,0
423130,2695,5898667087,6,20.775480,20.777746,20.759728,20.758342,18.455851,1,0.0,0.0,0.0,0.0,20.066581,0
423131,2695,5898667110,6,20.628577,20.628894,21.195046,20.841667,18.783348,4,0.0,0.0,0.0,0.0,20.501899,0
423132,2695,5898667110,6,20.628577,20.628894,21.195046,20.841667,18.783348,4,0.0,0.0,0.0,0.0,20.501899,0
423133,2695,5898667110,6,20.628577,20.628894,21.195046,20.841667,18.783348,4,0.0,0.0,0.0,0.0,20.501899,0
423134,2695,5898667110,6,20.628577,20.628894,21.195046,20.841667,18.783348,4,0.0,0.0,0.0,0.0,20.501899,0
423135,2695,5898667110,6,20.628577,20.628894,21.195046,20.841667,18.783348,4,0.0,0.0,0.0,0.0,20.501899,0
423136,2695,5901254288,6,20.758342,18.455842,20.759728,19.857571,19.606745,1,0.0,0.0,0.0,0.0,20.066581,0
423137,2695,5901254288,6,20.758342,18.455842,20.759728,19.857571,19.606745,1,0.0,0.0,0.0,0.0,20.066581,0
423138,2695,5901254288,6,20.758342,18.455842,20.759728,19.857571,19.606745,1,0.0,0.0,0.0,0.0,20.066581,0
423139,2695,5901254288,6,20.758342,18.455842,20.759728,19.857571,19.606745,1,0.0,0.0,0.0,0.0,20.066581,0
423140,2695,5901254288,6,20.758342,18.455842,20.759728,19.857571,19.606745,1,0.0,0.0,0.0,0.0,20.066581,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423260,2695,5925020114,6,19.761431,19.835451,20.846739,20.064347,19.071355,3,0.0,0.0,0.0,0.0,20.153592,0
423261,2695,5925020114,6,19.761431,19.835451,20.846739,20.064347,19.071355,3,0.0,0.0,0.0,0.0,20.153592,0
423266,2695,5927609779,6,20.064347,19.071355,20.846739,19.725531,19.126989,4,0.0,0.0,0.0,0.0,20.153592,0
423267,2695,5927609779,6,20.064347,19.071355,20.846739,19.725531,19.126989,4,0.0,0.0,0.0,0.0,20.153592,0
423268,2695,5927609779,6,20.064347,19.071355,20.846739,19.725531,19.126989,4,0.0,0.0,0.0,0.0,20.153592,0
423269,2695,5927609779,6,20.064347,19.071355,20.846739,19.725531,19.126989,4,0.0,0.0,0.0,0.0,20.153592,0
423270,2695,5927609779,6,20.064347,19.071355,20.846739,19.725531,19.126989,4,0.0,0.0,0.0,0.0,20.153592,0
423271,2695,5927609826,6,20.426991,19.476318,20.759728,19.763525,18.712039,2,0.0,0.0,0.0,0.0,20.066581,0
423272,2695,5927609826,6,20.426991,19.476318,20.759728,19.763525,18.712039,2,0.0,0.0,0.0,0.0,20.066581,0
423273,2695,5927609826,6,20.426991,19.476318,20.759728,19.763525,18.712039,2,0.0,0.0,0.0,0.0,20.066581,0
423274,2695,5927609826,6,20.426991,19.476318,20.759728,19.763525,18.712039,2,0.0,0.0,0.0,0.0,20.066581,0
423275,2695,5927609826,6,20.426991,19.476318,20.759728,19.763525,18.712039,2,0.0,0.0,0.0,0.0,20.066581,0
423279,2695,5930269775,6,19.725531,19.127301,20.846739,19.886547,19.375417,5,0.0,0.0,0.0,0.0,20.153592,0
423280,2695,5930269775,6,19.725531,19.127301,20.846739,19.886547,19.375417,5,0.0,0.0,0.0,0.0,20.153592,0
423281,2695,5930269775,6,19.725531,19.127301,20.846739,19.886547,19.375417,5,0.0,0.0,0.0,0.0,20.153592,0
423282,2695,5930269775,6,19.725531,19.127301,20.846739,19.886547,19.375417,5,0.0,0.0,0.0,0.0,20.153592,0
423283,2695,5930269815,6,19.763525,18.712490,20.759728,19.368333,18.764888,3,0.0,0.0,0.0,0.0,20.066581,0
423284,2695,5930269815,6,19.763525,18.712490,20.759728,19.368333,18.764888,3,0.0,0.0,0.0,0.0,20.066581,0
423285,2695,5930269815,6,19.763525,18.712490,20.759728,19.368333,18.764888,3,0.0,0.0,0.0,0.0,20.066581,0
423286,2695,5930269815,6,19.763525,18.712490,20.759728,19.368333,18.764888,3,0.0,0.0,0.0,0.0,20.066581,0
423287,2695,5932860285,6,19.886547,19.402109,20.846739,20.319064,19.477155,6,0.0,0.0,0.0,0.0,20.153592,0
423288,2695,5932860285,6,19.886547,19.402109,20.846739,20.319064,19.477155,6,0.0,0.0,0.0,0.0,20.153592,0
423289,2695,5932860285,6,19.886547,19.402109,20.846739,20.319064,19.477155,6,0.0,0.0,0.0,0.0,20.153592,0
423290,2695,5932860285,6,19.886547,19.402109,20.846739,20.319064,19.477155,6,0.0,0.0,0.0,0.0,20.153592,0
423291,2695,5932860320,6,19.368333,18.767298,20.759728,19.764261,18.869343,4,0.0,0.0,0.0,0.0,20.066581,0
423292,2695,5932860320,6,19.368333,18.767298,20.759728,19.764261,18.869343,4,0.0,0.0,0.0,0.0,20.066581,0
423293,2695,5932860320,6,19.368333,18.767298,20.759728,19.764261,18.869343,4,0.0,0.0,0.0,0.0,20.066581,0
423294,2695,5932860320,6,19.368333,18.767298,20.759728,19.764261,18.869343,4,0.0,0.0,0.0,0.0,20.066581,0
423313,2695,5935541059,6,20.319064,20.799434,21.406355,20.976515,19.659951,5,0.0,0.0,0.0,0.0,20.713208,0
423314,2695,5935541092,6,19.764261,19.803247,21.195046,20.784690,19.216499,3,0.0,0.0,0.0,0.0,20.501899,0

In [18]:
t = bill_data[['userid','bank_id']]
t['bank_n'] = 1
t.head()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

   userid  bank_id  bank_n
0    3150        6       1
1    3150        6       1
2    3150        6       1
3    3150        6       1
4    3150        6       1

In [28]:
tt = t.groupby(['userid','bank_id'])['bank_n'].agg(lambda x: 1)

In [34]:
data = tt.sum(level='userid')
data.head()

userid
2    3
3    1
4    3
5    1
6    3
Name: bank_n, dtype: int64

In [3]:
#  1)获取消费笔数 ,消费笔数从 sum 改成 mean
consume_amount = bill_data[['userid','consume_amount']]
consume_amount = consume_amount[consume_amount['consume_amount']!=0]  # 只选不为 0 的数
consume_amount.head()

   userid  consume_amount
0    3150               1
1    3150               1
2    3150               1
3    3150               1
4    3150               1

In [4]:
#  获取银行卡单笔消费的最大值
consume_amount_max = pd.pivot_table(consume_amount,index=['userid'],values=['consume_amount'],aggfunc=np.max)
consume_amount_max.columns = ['consume_amount_max']
consume_amount_max.head()

        consume_amount_max
userid
2                        9
3                        3
4                        2
6                        9
7                       14

In [5]:
#  获取银行卡消费的最大值
consume_amount_min = pd.pivot_table(consume_amount,index=['userid'],values=['consume_amount'],aggfunc=np.min)
consume_amount_min.columns = ['consume_amount_min']
consume_amount_min.head()

        consume_amount_min
userid
2                        1
3                        1
4                        2
6                        1
7                        1

In [6]:
data = consume_amount_min.join(consume_amount_max)
data['consume_amount_sub'] = data['consume_amount_max'] - data['consume_amount_min']
data.head()

        consume_amount_min  consume_amount_max  consume_amount_sub
userid
2                        1                   9                   8
3                        1                   3                   2
4                        2                   2                   0
6                        1                   9                   8
7                        1                  14                  13

In [7]:
#  消费笔数，信用卡额度 credit_amount，本期余额 amount_of_bill_left，上期还款金额 pre_repayment    本期账单金额 amount_of_bill
#  获取最大值，最小值，每张卡的平均值的最小，大值
data_max_min = data.copy()
cols = [ 'credit_amount','amount_of_bill_left', 'pre_repayment','amount_of_bill']

for col in cols:
    datas = bill_data[['userid',col]]
    datas = datas[datas[col]!=0]  # 只选不为 0 的数
    data_max = pd.pivot_table(datas,index=['userid'],values=[col],aggfunc=np.max)  # 获取最大值
    data_max.columns = [ "{}_max".format(col) ]
    data_min = pd.pivot_table(datas,index=['userid'],values=[col],aggfunc=np.min)  # 获取最大值
    data_min.columns = [ "{}_min".format(col) ]
    data_max_min = data_max_min.join([data_max,data_min])
    data_max_min['{}_sub'.format(col)] = data_max_min[ "{}_max".format(col) ] - data_max_min["{}_min".format(col) ]

data_max_min.head()

,consume_amount_min,consume_amount_max,consume_amount_sub,credit_amount_max,credit_amount_min,credit_amount_sub,amount_of_bill_left_max,amount_of_bill_left_min,amount_of_bill_left_sub,pre_repayment_max,pre_repayment_min,pre_repayment_sub,amount_of_bill_max,amount_of_bill_min,amount_of_bill_sub
userid,,,,,,,,,,,,,,,
2,1,9,8,21.580708,19.460445,2.120263,21.605425,16.656269,4.949156,21.693954,15.606691,6.087263,21.680054,14.632132,7.047922
3,1,3,2,18.361833,18.361833,0.000000,18.371030,18.325511,0.045519,19.495329,17.665019,1.830310,19.480767,17.682056,1.798711
4,2,2,0,20.441274,19.054980,1.386294,20.575036,15.825675,4.749361,19.483836,15.827316,3.656520,19.553419,14.052314,5.501105
6,1,9,8,21.497327,19.971271,1.526056,21.198821,-18.105068,39.303889,21.177840,17.799714,3.378126,20.850423,17.667665,3.182758
7,1,14,13,22.743859,14.855275,7.888584,22.253768,-20.194633,42.448401,22.790348,12.840374,9.949974,22.639326,12.840374,9.798952

In [8]:
consume_amount_bank = bill_data[['userid','bank_id','consume_amount']]
consume_amount_bank = consume_amount_bank[consume_amount_bank['consume_amount']!=0]  # 只选不为 0 的数
consume_amount_bank_sum = pd.pivot_table(consume_amount_bank,index=['userid','bank_id'],values=['consume_amount'],aggfunc=np.sum)
consume_amount_bank_sum.columns = ['consume_amount_bank_sum']
consume_amount_bank_sum.head()

                consume_amount_bank_sum
userid bank_id
2      4                             15
       9                              1
       16                            42
3      2                              4
4      3                              2

In [10]:
consume_amount_bank_sum_max = consume_amount_bank_sum.max(level='userid')
consume_amount_bank_sum_max.columns = ['consume_amount_bank_sum_max']

consume_amount_bank_sum_min = consume_amount_bank_sum.min(level='userid')
consume_amount_bank_sum_min.columns = ['consume_amount_bank_sum_min']

consume_amount_bank_sum_mean = consume_amount_bank_sum.mean(level='userid')
consume_amount_bank_sum_mean.columns = ['consume_amount_bank_sum_mean']

consume_amount_bank_sum_min_max = consume_amount_bank_sum_min.join([consume_amount_bank_sum_max,consume_amount_bank_sum_mean])
consume_amount_bank_sum_min_max.head()

,consume_amount_bank_sum_min,consume_amount_bank_sum_max,consume_amount_bank_sum_mean
userid,,,
2,1,42,19.333333
3,4,4,4.000000
4,2,2,2.000000
6,43,79,61.000000
7,4,168,63.500000

In [11]:
#  每张卡的平均值的最大值
consume_amount_bank = bill_data[['userid','bank_id','consume_amount']]
consume_amount_bank = consume_amount_bank[consume_amount_bank['consume_amount']!=0]  # 只选不为 0 的数
consume_amount_bank_mean = pd.pivot_table(consume_amount_bank,index=['userid','bank_id'],values=['consume_amount'],aggfunc=np.mean)
consume_amount_bank_mean.columns = ['consume_amount_bank']
consume_amount_bank_mean.head()

                consume_amount_bank
userid bank_id
2      4                   2.142857
       9                   1.000000
       16                  4.200000
3      2                   2.000000
4      3                   2.000000

In [12]:
data = consume_amount_bank_mean.max(level='userid')
data.columns = ['consume_amount_bank_mean_max']
data.head()

        consume_amount_bank_mean_max
userid
2                           4.200000
3                           2.000000
4                           2.000000
6                           6.076923
7                           8.400000

In [13]:
consume_amount_bank_mean_min = consume_amount_bank_mean.min(level='userid')
consume_amount_bank_mean_min.columns = ['consume_amount_bank_mean_min']
data = data.join(consume_amount_bank_mean_min)
data.head()

        consume_amount_bank_mean_max  consume_amount_bank_mean_min
userid
2                           4.200000                      1.000000
3                           2.000000                      2.000000
4                           2.000000                      2.000000
6                           6.076923                      2.866667
7                           8.400000                      1.636364

In [14]:
#    每张卡 消费笔数，信用卡额度 credit_amount，本期余额 amount_of_bill_left，上期还款金额 pre_repayment   本期账单金额 amount_of_bill  本期账单最低还款额 least_repayment
#  获取最大值
data_bank_max_min = data.copy()
cols = [ 'credit_amount','amount_of_bill_left', 'pre_repayment','amount_of_bill']
for col in cols:
    datas = bill_data[['userid','bank_id',col]]
    datas = datas[datas[col]!=0]  # 只选不为 0 的数
       
    datas_mean = pd.pivot_table(datas,index=['userid','bank_id'],values=[col],aggfunc=np.mean)
    
    data_bank_mean_max = datas_mean.max(level='userid')
    data_bank_mean_max.columns = ["{}_bank_mean_max".format(col)]
        
    data_bank_mean_min = datas_mean.min(level='userid')
    data_bank_mean_min.columns = ["{}_bank_mean_min".format(col)]
    
    data_bank_max_min = data_bank_max_min.join([data_bank_mean_max,data_bank_mean_min])

data_bank_max_min.head()

,consume_amount_bank_mean_max,consume_amount_bank_mean_min,credit_amount_bank_mean_max,credit_amount_bank_mean_min,amount_of_bill_left_bank_mean_max,amount_of_bill_left_bank_mean_min,pre_repayment_bank_mean_max,pre_repayment_bank_mean_min,amount_of_bill_bank_mean_max,amount_of_bill_bank_mean_min
userid,,,,,,,,,,
2,4.200000,1.000000,21.580708,19.573962,21.556798,18.529893,20.865134,18.354507,21.262652,17.793175
3,2.000000,2.000000,18.361833,18.361833,18.348270,18.348270,18.580174,18.580174,18.581412,18.581412
4,2.000000,2.000000,20.441274,19.054980,19.770999,17.172708,17.815314,17.815314,19.054980,17.445363
6,6.076923,2.866667,21.102763,20.112310,20.390617,17.371213,19.354634,19.103623,19.724092,19.041710
7,8.400000,1.636364,21.051069,15.366101,21.857444,-6.291857,22.321026,12.840374,22.295138,12.840374

In [15]:
result = data_max_min.join([data_bank_max_min,consume_amount_bank_sum_min_max])
result['bill_tag'] = 1
result.head()

,consume_amount_min,consume_amount_max,consume_amount_sub,credit_amount_max,credit_amount_min,credit_amount_sub,amount_of_bill_left_max,amount_of_bill_left_min,amount_of_bill_left_sub,pre_repayment_max,...,amount_of_bill_left_bank_mean_max,amount_of_bill_left_bank_mean_min,pre_repayment_bank_mean_max,pre_repayment_bank_mean_min,amount_of_bill_bank_mean_max,amount_of_bill_bank_mean_min,consume_amount_bank_sum_min,consume_amount_bank_sum_max,consume_amount_bank_sum_mean,bill_tag
userid,,,,,,,,,,,,,,,,,,,,,
2,1,9,8,21.580708,19.460445,2.120263,21.605425,16.656269,4.949156,21.693954,...,21.556798,18.529893,20.865134,18.354507,21.262652,17.793175,1,42,19.333333,1
3,1,3,2,18.361833,18.361833,0.000000,18.371030,18.325511,0.045519,19.495329,...,18.348270,18.348270,18.580174,18.580174,18.581412,18.581412,4,4,4.000000,1
4,2,2,0,20.441274,19.054980,1.386294,20.575036,15.825675,4.749361,19.483836,...,19.770999,17.172708,17.815314,17.815314,19.054980,17.445363,2,2,2.000000,1
6,1,9,8,21.497327,19.971271,1.526056,21.198821,-18.105068,39.303889,21.177840,...,20.390617,17.371213,19.354634,19.103623,19.724092,19.041710,43,79,61.000000,1
7,1,14,13,22.743859,14.855275,7.888584,22.253768,-20.194633,42.448401,22.790348,...,21.857444,-6.291857,22.321026,12.840374,22.295138,12.840374,4,168,63.500000,1

In [17]:
result.to_csv("../data/train/bill_detail20.csv")

In [9]:
consume_amount_mean = pd.pivot_table(consume_amount,index=['userid'],values=['consume_amount'],aggfunc=np.mean)
consume_amount_mean.columns = ['consume_amount_mean']
consume_amount_mean.head()

        consume_amount_mean
userid
2                  3.222222
3                  2.000000
4                  2.000000
6                  4.357143
7                  4.792453

In [15]:
# 信用卡额度 credit_amount,删除 缺失值
credit_amount = bill_data[['userid','bank_id','credit_amount']]
credit_amount = credit_amount[credit_amount['credit_amount']!=0]  # 只选不为 0 的数
credit_amount_mean = pd.pivot_table(credit_amount,index=['userid','bank_id'],values=['credit_amount'],aggfunc=np.mean)
credit_amount_mean.columns = ['credit_amount_mean']
credit_amount_mean.head()

                credit_amount_mean
userid bank_id
2      4                 19.573962
       9                 19.971271
       16                21.580708
3      2                 18.361833
4      3                 20.441274

In [16]:
# 去所有信用卡额度平均值的最大值
credit_amount_bank_max = credit_amount_mean.max(level='userid')
credit_amount_bank_max.columns = ['credit_amount_bank_max']
credit_amount_bank_max.head()

        credit_amount_bank_max
userid
2                    21.580708
3                    18.361833
4                    20.441274
5                    20.664418
6                    21.102763

In [17]:
credit_amount_bank_min = credit_amount_mean.min(level='userid')
credit_amount_bank_min.columns = ['credit_amount_bank_min']
credit_amount_bank_min.head()

        credit_amount_bank_min
userid
2                    19.573962
3                    18.361833
4                    19.054980
5                    20.664418
6                    20.112310

In [21]:
credit_amount_bank = credit_amount_bank_max.join(credit_amount_bank_min)
credit_amount_bank.head()

        credit_amount_bank_max  credit_amount_bank_min
userid
2                    21.580708               19.573962
3                    18.361833               18.361833
4                    20.441274               19.054980
5                    20.664418               20.664418
6                    21.102763               20.112310

In [23]:
#  本期余额 amount_of_bill_left
amount_of_bill_left = bill_data[['userid','bank_id','amount_of_bill_left']]
amount_of_bill_left = amount_of_bill_left[amount_of_bill_left['amount_of_bill_left']!=0]  # 只选不为 0 的数
amount_of_bill_left = pd.pivot_table(amount_of_bill_left,index=['userid','bank_id'],values=['amount_of_bill_left'],aggfunc=np.mean)
amount_of_bill_left.columns = ['amount_of_bill_left']
amount_of_bill_left.head()

                amount_of_bill_left
userid bank_id
2      4                  18.596662
       9                  18.529893
       16                 21.556798
3      2                  18.348270
4      3                  19.770999

In [24]:
amount_of_bill_left_max = amount_of_bill_left.max(level='userid')
amount_of_bill_left_max.columns = ['amount_of_bill_left_max']
amount_of_bill_left_max.head()

        amount_of_bill_left_max
userid
2                     21.556798
3                     18.348270
4                     19.770999
5                     20.636046
6                     20.390617

In [26]:
amount_of_bill_left_min = amount_of_bill_left.min(level='userid')
amount_of_bill_left_min.columns = ['amount_of_bill_left_min']
amount_of_bill_left_min.head()

        amount_of_bill_left_min
userid
2                     18.529893
3                     18.348270
4                     17.172708
5                     20.636046
6                     17.371213

In [30]:
amount_of_bill_left_max1 = bill_data[['userid','amount_of_bill_left']]
amount_of_bill_left_max1 = amount_of_bill_left_max1[amount_of_bill_left_max1['amount_of_bill_left']!=0]  # 只选不为 0 的数

amount_of_bill_left_max11 = pd.pivot_table(amount_of_bill_left_max1,index=['userid'],values=['amount_of_bill_left'],aggfunc=np.max)
amount_of_bill_left_max11.columns = ['amount_of_bill_left_max11']
amount_of_bill_left_max11.head()

        amount_of_bill_left_max11
userid
2                       21.605425
3                       18.371030
4                       20.575036
5                       20.676582
6                       21.198821

In [31]:
amount_of_bill_left_min11 = pd.pivot_table(amount_of_bill_left_max1,index=['userid'],values=['amount_of_bill_left'],aggfunc=np.min)
amount_of_bill_left_min11.columns = ['amount_of_bill_left_min11']
amount_of_bill_left_min11.head()

        amount_of_bill_left_min11
userid
2                       16.656269
3                       18.325511
4                       15.825675
5                       20.595510
6                      -18.105068

In [33]:
amount_of_bill_left_merge = amount_of_bill_left_max.join([amount_of_bill_left_min,amount_of_bill_left_max11,amount_of_bill_left_min11])
amount_of_bill_left_merge.head()

,amount_of_bill_left_max,amount_of_bill_left_min,amount_of_bill_left_max11,amount_of_bill_left_min11
userid,,,,
2,21.556798,18.529893,21.605425,16.656269
3,18.348270,18.348270,18.371030,18.325511
4,19.770999,17.172708,20.575036,15.825675
5,20.636046,20.636046,20.676582,20.595510
6,20.390617,17.371213,21.198821,-18.105068

In [34]:
amount_of_bill_left_merge['amount_of_bill_left_sub'] = amount_of_bill_left_merge['amount_of_bill_left_max11']-amount_of_bill_left_merge['amount_of_bill_left_min11']
amount_of_bill_left_merge.head()

,amount_of_bill_left_max,amount_of_bill_left_min,amount_of_bill_left_max11,amount_of_bill_left_min11,amount_of_bill_left_sub
userid,,,,,
2,21.556798,18.529893,21.605425,16.656269,4.949156
3,18.348270,18.348270,18.371030,18.325511,0.045519
4,19.770999,17.172708,20.575036,15.825675,4.749361
5,20.636046,20.636046,20.676582,20.595510,0.081072
6,20.390617,17.371213,21.198821,-18.105068,39.303889

In [35]:
# 上期还款金额 pre_repayment
pre_repayment = bill_data[['userid','bank_id','pre_repayment']]
pre_repayment = pre_repayment[pre_repayment['pre_repayment']!=0]  # 只选不为 0 的数

pre_repayment_bank_mean = pd.pivot_table(pre_repayment,index=['userid','bank_id'],values=['pre_repayment'],aggfunc=np.mean)
pre_repayment_bank_mean.columns = ['pre_repayment_bank_mean']
pre_repayment_bank_mean.head()

                pre_repayment_bank_mean
userid bank_id
2      4                      18.354507
       9                      18.584781
       16                     20.865134
3      2                      18.580174
4      7                      17.815314

In [39]:
pre_repayment_bank_mean_max = pre_repayment_bank_mean.max(level='userid')
pre_repayment_bank_mean_max.columns = ['pre_repayment_bank_mean_max']

pre_repayment_bank_mean_max.head()

        pre_repayment_bank_mean_max
userid
2                         20.865134
3                         18.580174
4                         17.815314
5                         18.539760
6                         19.354634

In [42]:
"""
pre_repayment_bank_mean_min = pre_repayment_bank_mean.min(level='userid')
pre_repayment_bank_mean_min.columns = ['pre_repayment_bank_mean_min']

pre_repayment_bank_mean_min.head()
"""

"\npre_repayment_bank_mean_min = pre_repayment_bank_mean.min(level='userid')\npre_repayment_bank_mean_min.columns = ['pre_repayment_bank_mean_min']\n\npre_repayment_bank_mean_min.head()\n"

In [36]:
pre_repayment_bank_max = pd.pivot_table(pre_repayment,index=['userid','bank_id'],values=['pre_repayment'],aggfunc=np.max)
pre_repayment_bank_max.columns = ['pre_repayment_bank_max']
pre_repayment_bank_max.head()

                pre_repayment_bank_max
userid bank_id
2      4                     19.509829
       9                     19.484314
       16                    21.693954
3      2                     19.495329
4      7                     19.483836

In [43]:
pre_repayment_bank_max_max = pre_repayment_bank_max.max(level='userid')
pre_repayment_bank_max_max.columns = ['pre_repayment_bank_max_max']
pre_repayment_bank_max_max.head()

        pre_repayment_bank_max_max
userid
2                        21.693954
3                        19.495329
4                        19.483836
5                        18.560684
6                        21.177840

In [37]:
pre_repayment_bank_min = pd.pivot_table(pre_repayment,index=['userid','bank_id'],values=['pre_repayment'],aggfunc=np.min)
pre_repayment_bank_min.columns = ['pre_repayment_bank_min']
pre_repayment_bank_min.head()

                pre_repayment_bank_min
userid bank_id
2      4                     17.389606
       9                     17.455492
       16                    15.606691
3      2                     17.665019
4      7                     15.827316

In [44]:
pre_repayment_bank_min_min = pre_repayment_bank_min.min(level='userid')
pre_repayment_bank_min_min.columns = ['pre_repayment_bank_min_min']
pre_repayment_bank_min_min.head()

        pre_repayment_bank_min_min
userid
2                        15.606691
3                        17.665019
4                        15.827316
5                        18.518836
6                        17.799714

In [45]:
pre_repayment_bank = pre_repayment_bank_max_max.join(pre_repayment_bank_min_min)
pre_repayment_bank['pre_repayment_bank_max_min_sub'] = pre_repayment_bank['pre_repayment_bank_max_max'] - pre_repayment_bank['pre_repayment_bank_min_min']
pre_repayment_bank.head()

,pre_repayment_bank_max_max,pre_repayment_bank_min_min,pre_repayment_bank_max_min_sub
userid,,,
2,21.693954,15.606691,6.087263
3,19.495329,17.665019,1.830310
4,19.483836,15.827316,3.656520
5,18.560684,18.518836,0.041848
6,21.177840,17.799714,3.378126