In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

import matplotlib.pyplot as plt

In [2]:
names = ["userid","time","bank_id","pre_amount_of_bill","pre_repayment","credit_amount",\
         "amount_of_bill_left","least_repayment","consume_amount","amount_of_bill","adjust_amount",\
         "circ_interest","avail_amount","prepare_amount","repayment_state"]

bill_train = pd.read_csv("../../pcredit/train/bill_detail_train.txt",header=None)
bill_test = pd.read_csv("../../pcredit/test/bill_detail_test.txt",header=None)

bill_data = pd.concat([bill_train,bill_test])
bill_data.columns=names
bill_data.head()

,userid,time,bank_id,pre_amount_of_bill,pre_repayment,credit_amount,amount_of_bill_left,least_repayment,consume_amount,amount_of_bill,adjust_amount,circ_interest,avail_amount,prepare_amount,repayment_state
0,3150,5906744363,6,18.626118,18.661937,20.664418,18.905766,17.847133,1,0.0,0.0,0.0,0.0,19.971271,0
1,3150,5906744401,6,18.905766,18.909954,20.664418,19.113305,17.911506,1,0.0,0.0,0.0,0.0,19.971271,0
2,3150,5906744427,6,19.113305,19.150290,20.664418,19.300194,17.977610,1,0.0,0.0,0.0,0.0,19.971271,0
3,3150,5906744515,6,19.300194,19.300280,21.000890,20.303240,18.477177,1,0.0,0.0,0.0,0.0,20.307743,0
4,3150,5906744562,6,20.303240,20.307744,21.000890,20.357134,18.510985,1,0.0,0.0,0.0,0.0,20.307743,0

In [3]:
bill_data.shape

(2753013, 15)

In [6]:
bill_data_2 = bill_data[bill_data.consume_amount>1]
bill_data_2.head(20)

,userid,time,bank_id,pre_amount_of_bill,pre_repayment,credit_amount,amount_of_bill_left,least_repayment,consume_amount,amount_of_bill,adjust_amount,circ_interest,avail_amount,prepare_amount,repayment_state
6,3150,5906744682,6,20.106043,20.153592,21.069883,20.242691,18.906474,2,0.000000,0.0,0.000000,0.0,20.376736,0
10,3150,5926182147,6,19.904695,18.831836,21.000890,20.189107,18.875165,3,0.000000,0.0,0.000000,0.0,20.307743,0
14,3150,5926182246,6,20.701662,19.579708,21.000890,19.904695,18.771018,3,0.000000,0.0,0.000000,0.0,20.307743,0
22,3150,5926182473,6,20.624874,20.624874,21.000890,20.734088,19.122755,2,0.000000,0.0,0.000000,0.0,20.307743,0
28,3150,5926182560,6,20.493449,20.501899,21.000890,20.624874,19.069524,2,0.000000,0.0,0.000000,0.0,20.307743,0
32,3150,5926669305,6,20.189107,19.054980,21.000890,20.344024,18.941699,3,0.000000,0.0,0.000000,0.0,20.307743,0
38,6965,0,10,20.027371,19.317344,19.971271,19.983264,16.987546,5,19.194742,0.0,15.728101,0.0,19.278123,0
39,6965,0,10,19.983264,17.915546,19.971271,19.889440,16.893721,2,16.166307,0.0,15.778343,0.0,19.278123,0
40,6965,5938097487,13,0.000000,6.849967,19.971271,19.978909,17.499557,18,19.969689,0.0,15.288139,0.0,19.971271,0
41,6965,5938100907,13,0.000000,6.849967,19.971271,19.978909,17.499557,18,19.969689,0.0,15.288139,0.0,19.971271,0
52,1265,0,7,19.670468,16.752445,19.748127,19.877896,19.877896,3,18.413618,0.0,0.000000,0.0,19.054980,0
53,1265,0,10,20.170303,13.053467,20.153592,20.188607,17.868814,2,14.449810,0.0,16.035467,0.0,19.460445,0
54,1265,0,7,19.430274,0.000000,19.748127,19.708086,19.419234,3,18.291582,0.0,0.000000,0.0,19.054980,0
55,1265,0,10,20.188607,19.498704,20.153592,20.163061,17.167315,2,19.426395,0.0,15.560021,0.0,19.460445,0
56,1265,0,7,19.708086,18.465652,19.748127,19.670468,19.670468,3,18.328813,0.0,0.000000,0.0,19.054980,0
59,1265,0,7,20.167045,19.939573,20.153592,19.430274,18.391887,4,18.876798,0.0,0.000000,0.0,19.748127,0
60,1265,0,10,20.079940,20.111033,20.153592,20.149562,17.153818,4,20.178455,0.0,11.291571,0.0,19.460445,0
62,1265,0,7,19.800309,19.991073,19.748127,19.411188,17.285080,2,19.681330,0.0,0.000000,0.0,19.748127,0
64,1265,0,10,20.558255,17.563325,20.153592,20.576644,17.580925,4,17.607597,0.0,16.441308,0.0,19.460445,0
66,1265,0,7,20.164725,17.909276,19.748127,20.074529,18.044763,2,16.178984,0.0,0.000000,0.0,19.748127,0

In [5]:
bill_data_2.shape

(577847, 15)

In [8]:
bill_data[bill_data['bank_id']==10].head(20)

,userid,time,bank_id,pre_amount_of_bill,pre_repayment,credit_amount,amount_of_bill_left,least_repayment,consume_amount,amount_of_bill,adjust_amount,circ_interest,avail_amount,prepare_amount,repayment_state
38,6965,0,10,20.027371,19.317344,19.971271,19.983264,16.987546,5,19.194742,0.0,15.728101,0.0,19.278123,0
39,6965,0,10,19.983264,17.915546,19.971271,19.889440,16.893721,2,16.166307,0.0,15.778343,0.0,19.278123,0
42,1265,0,10,20.170074,21.438223,20.153592,20.050741,17.055015,0,21.406063,0.0,0.000000,0.0,0.000000,0
44,1265,0,10,19.088487,20.742767,20.153592,19.757889,18.411461,0,20.910191,0.0,0.000000,0.0,0.000000,0
45,1265,0,10,20.050741,21.793236,20.153592,19.088487,18.408077,0,21.678727,0.0,0.000000,0.0,19.460445,0
46,1265,0,10,19.088487,20.742767,20.153592,19.757889,18.411461,0,20.910191,0.0,0.000000,0.0,19.460445,0
48,1265,0,10,19.757889,20.748759,20.153592,20.152555,18.579843,0,20.913973,0.0,0.000000,0.0,19.460445,0
50,1265,0,10,20.170074,21.438223,20.153592,20.050741,17.055015,0,21.406063,0.0,0.000000,0.0,19.460445,0
51,1265,0,10,20.163061,17.851007,20.153592,20.170074,17.174324,1,17.717476,0.0,16.221622,0.0,19.460445,0
53,1265,0,10,20.170303,13.053467,20.153592,20.188607,17.868814,2,14.449810,0.0,16.035467,0.0,19.460445,0
55,1265,0,10,20.188607,19.498704,20.153592,20.163061,17.167315,2,19.426395,0.0,15.560021,0.0,19.460445,0
57,1265,0,10,20.149562,17.445542,20.153592,20.170303,17.174520,1,17.420224,0.0,16.361128,0.0,19.460445,0
58,1265,0,10,20.287241,20.307744,20.153592,20.079940,17.084213,1,20.091921,0.0,15.769964,0.0,19.460445,0
60,1265,0,10,20.079940,20.111033,20.153592,20.149562,17.153818,4,20.178455,0.0,11.291571,0.0,19.460445,0
64,1265,0,10,20.558255,17.563325,20.153592,20.576644,17.580925,4,17.607597,0.0,16.441308,0.0,19.460445,0
68,1265,0,10,20.152555,19.635627,20.153592,20.173625,17.176747,1,19.635994,0.0,16.292896,0.0,19.460445,0
70,1265,0,10,20.173625,19.614624,20.153592,20.157553,17.161819,1,19.564222,0.0,15.764071,0.0,19.460445,0
73,1265,0,10,20.558255,17.563325,20.153592,20.576644,17.580925,4,17.607597,0.0,16.441308,0.0,0.000000,0
76,1265,0,10,20.287241,20.307744,20.153592,20.079940,17.084213,1,20.091921,0.0,15.769964,0.0,0.000000,0
78,1265,0,10,20.079940,20.111033,20.153592,20.149562,17.153818,4,20.178455,0.0,11.291571,0.0,0.000000,0

In [9]:
bill_data[bill_data['bank_id']==7].head(20)

,userid,time,bank_id,pre_amount_of_bill,pre_repayment,credit_amount,amount_of_bill_left,least_repayment,consume_amount,amount_of_bill,adjust_amount,circ_interest,avail_amount,prepare_amount,repayment_state
34,3150,5927777378,7,20.291518,20.520767,20.559057,20.076362,19.082897,0,20.353620,0.0,0.0,0.0,19.865910,0
43,1265,0,7,19.599894,20.988673,19.748127,19.692350,18.366074,1,21.012542,0.0,0.0,0.0,0.000000,0
47,1265,0,7,0.000000,-20.274334,19.748127,19.776420,17.493332,0,20.293845,0.0,0.0,0.0,19.054980,0
49,1265,0,7,19.599894,20.988673,19.748127,19.692350,18.366074,1,21.012542,0.0,0.0,0.0,19.054980,0
52,1265,0,7,19.670468,16.752445,19.748127,19.877896,19.877896,3,18.413618,0.0,0.0,0.0,19.054980,0
54,1265,0,7,19.430274,0.000000,19.748127,19.708086,19.419234,3,18.291582,0.0,0.0,0.0,19.054980,0
56,1265,0,7,19.708086,18.465652,19.748127,19.670468,19.670468,3,18.328813,0.0,0.0,0.0,19.054980,0
59,1265,0,7,20.167045,19.939573,20.153592,19.430274,18.391887,4,18.876798,0.0,0.0,0.0,19.748127,0
61,1265,0,7,19.411188,19.509235,20.153592,20.167045,17.866421,1,20.214287,0.0,0.0,0.0,19.748127,0
62,1265,0,7,19.800309,19.991073,19.748127,19.411188,17.285080,2,19.681330,0.0,0.0,0.0,19.748127,0
63,1265,0,7,20.074529,18.233999,19.748127,19.917975,17.751187,1,15.792805,0.0,0.0,0.0,19.748127,0
65,1265,0,7,19.614324,18.457143,19.748127,19.668080,17.493284,0,18.618983,0.0,0.0,0.0,19.748127,0
66,1265,0,7,20.164725,17.909276,19.748127,20.074529,18.044763,2,16.178984,0.0,0.0,0.0,19.748127,0
67,1265,0,7,0.000000,-19.260843,19.748127,19.806547,17.720652,1,19.310792,0.0,0.0,0.0,19.054980,0
69,1265,0,7,0.000000,-17.745943,19.748127,19.722950,17.576175,1,16.752745,0.0,0.0,0.0,19.054980,0
71,1265,0,7,19.614324,18.457143,19.748127,19.668080,17.493284,0,18.618983,0.0,0.0,0.0,0.000000,0
72,1265,0,7,20.164725,17.909276,19.748127,20.074529,18.044763,2,16.178984,0.0,0.0,0.0,0.000000,0
74,1265,0,7,20.074529,18.233999,19.748127,19.917975,17.751187,1,15.792805,0.0,0.0,0.0,0.000000,0
75,1265,0,7,19.800309,19.991073,19.748127,19.411188,17.285080,2,19.681330,0.0,0.0,0.0,0.000000,0
77,1265,0,7,19.411188,19.509235,20.153592,20.167045,17.866421,1,20.214287,0.0,0.0,0.0,0.000000,0