In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

"""
 用户id,时间戳,浏览行为数据,浏览子行为编号
"""
names = ['userid','time','browser_behavior','browser_behavior_number']
browse_history_train = pd.read_csv("../../pcredit/train/browse_history_train.txt",header=None)
browse_history_train.columns = names
browse_history_train.head()

   userid        time  browser_behavior  browser_behavior_number
0   34801  5926003545               173                        1
1   34801  5926003545               164                        4
2   34801  5926003545                38                        7
3   34801  5926003545                45                        1
4   34801  5926003545               110                        7

In [8]:
#  分析测试数据数据缺失情况
names = ['userid','time','browser_behavior','browser_behavior_number']
browse_history_test = pd.read_csv("../../pcredit/test/browse_history_test.txt",header=None)
browse_history_test.columns = names
browse_history_test.head()

   userid        time  browser_behavior  browser_behavior_number
0   64809  5924375371                76                        5
1   64809  5924375371               163                        5
2   64809  5924375371                31                        8
3   64809  5924375371               155                        4
4   64809  5924375371               118                        1

In [3]:
# 用户id,性别,职业,教育程度,婚姻状态,户口类型
names = ['userid','sex','job','edu','marriage','account']
user_info_train = pd.read_csv("../../pcredit/train/user_info_train.txt",header=None)
user_info_train.columns = names
user_info = pd.pivot_table(user_info_train,index=["userid"],values=names)
user_info.head()  #  bill_detail  数据中 userid == 1 的数据没有

        account  edu  job  marriage  sex
userid
1             3    3    2         1    1
2             1    3    2         2    1
3             4    4    4         1    1
4             2    4    4         3    1
5             1    2    2         3    1

In [9]:
# 测试数据 用户id,性别,职业,教育程度,婚姻状态,户口类型
names = ['userid','sex','job','edu','marriage','account']
user_info_test = pd.read_csv("../../pcredit/test/user_info_test.txt",header=None)
user_info_test.columns = names
user_test_info = pd.pivot_table(user_info_test,index=["userid"],values=names)
user_test_info.head()  #  bill_detail  数据中 userid == 1 的数据没有

        account  edu  job  marriage  sex
userid
55597         4    3    2         1    2
55598         4    2    2         3    1
55599         1    4    2         2    2
55600         1    4    4         3    2
55601         4    3    2         1    1

In [4]:
browse_user = pd.pivot_table(browse_history_train,index=['userid'],values=['browser_behavior_number'])
browse_user.head()

        browser_behavior_number
userid
2                      3.885057
3                      3.491228
4                      3.648352
6                      7.000000
7                      3.805556

In [10]:
browse_test_user = pd.pivot_table(browse_history_test,index=['userid'],values=['browser_behavior_number'])
browse_test_user.head()

        browser_behavior_number
userid
55597                  3.479167
55598                  3.481250
55601                  3.541985
55602                  4.023810
55603                  3.833333

In [5]:
browse_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47330 entries, 2 to 55596
Data columns (total 1 columns):
browser_behavior_number    47330 non-null float64
dtypes: float64(1)
memory usage: 739.5 KB

In [6]:
browse_datas = user_info.join(browse_user)
browse_datas.head()

        account  edu  job  marriage  sex  browser_behavior_number
userid
1             3    3    2         1    1                      NaN
2             1    3    2         2    1                 3.885057
3             4    4    4         1    1                 3.491228
4             2    4    4         3    1                 3.648352
5             1    2    2         3    1                      NaN

In [7]:
browse_datas[browse_datas['browser_behavior_number'].isnull()].shape

(8266, 6)

In [11]:
user_test_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13899 entries, 55597 to 69495
Data columns (total 5 columns):
account     13899 non-null int64
edu         13899 non-null int64
job         13899 non-null int64
marriage    13899 non-null int64
sex         13899 non-null int64
dtypes: int64(5)
memory usage: 651.5 KB

In [12]:
browse_test_datas = user_test_info.join(browse_history_test)
browse_test_datas.head()

,account,edu,job,marriage,sex,userid,time,browser_behavior,browser_behavior_number
userid,,,,,,,,,
55597,4,3,2,1,2,65332,5933586182,82,1
55598,4,2,2,3,1,65332,5933586182,190,10
55599,1,4,2,2,2,65332,5933586182,118,1
55600,1,4,4,3,2,65332,5933586182,44,5
55601,4,3,2,1,1,65332,5933586182,110,7

In [13]:
browse_test_datas[browse_test_datas['browser_behavior_number'].isnull()].shape

(0, 9)