In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
user_info = pd.read_csv("../data/train/user_info_dummy.csv")
bank_data = pd.read_csv("../data/train/bank_train_1.csv")
bill_data = pd.read_csv("../data/train/bill_detail_1.csv")

In [4]:
user_info.index = user_info['userid']
user_info.drop(['userid'],axis=1,inplace=True)

bank_data.index = bank_data['userid']
bank_data.drop(['userid'],axis=1,inplace=True)

bill_data.index = bill_data['userid']
bill_data.drop(['userid'],axis=1,inplace=True)

In [5]:
datas = user_info.join([bank_data,bill_data],how='outer')

In [9]:
datas.fillna(0.0)
datas.head()

,account#0,account#1,account#2,account#3,account#4,edu#0,edu#1,edu#2,edu#3,edu#4,...,examount#00,examount#11,extype#11,extype0#1,sub0,circ_interest#0,prepare_amount#0,avail_amount#0,consume_amount#0,credit_amount#0
userid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,0,0,0,0,1,0,...,3.0,4.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN
2,0,1,0,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,1.0,4.0
3,0,0,0,0,1,0,0,0,0,1,...,3.0,2.0,2.0,2.0,5.0,1.0,1.0,1.0,1.0,4.0
4,0,0,1,0,0,0,0,0,0,1,...,2.0,2.0,1.0,1.0,3.0,1.0,3.0,2.0,1.0,3.0
5,0,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,1.0,5.0,1.0,1.0,4.0

In [10]:
datas.to_csv('../data/train_data.csv')